<%- include('./partial/header')%>
<div>
<% if(error) { %>
<p><%= error%></p>
<% } %>
</div>
<div class="container mt-5">
<form action="/book/add" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label for="writer">Writer</label>
        <input type="text" class="form-control" name="writer">
    </div>
    <div class="form-group">
        <label for="writer">Publisher</label>
        <input type="text" class="form-control" name="publisher">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" name="price">
    </div>
    <div class="form-group">
        <label for="releasedyear">Released Year</label>
        <input type="number" class="form-control" name="releasedyear">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
<%- include('./partial/footer')%>
    
