<%- include('./partial/header', {title: 'BookReview', req})%>

<div class="jumbotron">
    <h1 class="display-4">Book Review</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

    <% if (!req.session.userId) { %>
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
    <% } else { %>
        <a href="/user" class="btn btn-info btn-lg">User List</a>
        <a href="/book" class="btn btn-info btn-lg">Book List</a>
    <% } %>
 </div>

</body>
<%- include('./partial/footer')%>